:root {
  --vt-c-white: #ffffff;
  --vt-c-white-main: #dfe6e9;
  --vt-c-blue: #2b5cd9;
  --vt-c-black: #000000;
  --vt-c-gray: #626364;
}

:root {
  --color-background: var(--vt-c-white-main);
  --color-theme: var(--vt-c-blue);
  --color-text: var(--vt-c-black);
  --color-text-white: var(--vt-c-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none; /* 去除下划线 */
  color: inherit; /* 继承父元素的颜色，保持链接颜色与文本一致 */
  cursor: pointer; /* 设置光标样式为手型，以表明是可点击的链接 */
}
